* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans",Arial, Helvetica, sans-serif; }

.gachduoi:after {
        content: "";
        position: absolute;
        width: 300px;
        top: 3px;
        right: 20px;
        height: 1px;
        border-bottom: 1px solid #c0bbbb52; }
.gachduoi:before {
        content: "";
        position: absolute;
        width: 300px;
        top: 3px;
        height: 1px;
        left: 20px;
        border-bottom: 1px solid #c0bbbb52; }

i.done-login.fa.fa-times {
    position: absolute;
    top: 0px;
    right: 2px;
    color: #f1f1f1;
    font-size: 25px;
    cursor: pointer;
}

div#dangnhap{
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}

div#dangnhap.login-on{
  opacity: 1;
  visibility: visible;
}
.nenlogin {
    width: 100%;
    height: 100%;
    background: #3333338c;
    z-index: 9991;
    position: fixed;
    top: 0;
    left: 0;
}

div#login {
    width: 350px;
    /* height: 200px; */
    background: #f1f1f1;
    position: fixed;
    top: 100px;
    left: 50%;
    text-align: center;
    /* padding: 20px 0; */
    transform: translateX(-50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: #0b0909 0px 0px 19px 9px;
    z-index: 9999;
}

div#login input {
    color: #111111ad;
    width: 180px;
    border-radius: 3px;
    padding-left: 5px;
}

div#login button {
    margin-bottom: 20px;
}

div#login label {
    margin-right: 10px;
}

div#login form {}

div#login h3 {
    font-size: 28px;
    padding: 10px 0;
    background: #333;
    color: orange;
    /* border-bottom: 1px solid #ababab; */
    /* padding-bottom: 20px; */
}

div#backtotop {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    /* margin-top: 10px; */
    background: #b5aaaa5c;
    bottom:;
    color: #ebebeb;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 9999;
}
div#backtotop:hover{
  background: orange;
  color: #111;
}
div#copyright {
    height: 50px;
    line-height: 50px;
    background: #000;
    color: #ababab;
    text-align: center;
    overflow: hidden;
    font-size: 12px;
}

div#footer h3 {
    margin-bottom: 30px;
    color: #ebebeb;
}

div#footer h5 {
    font-size: 14px;
    padding-bottom: 12px;
    margin-left: 20px;
}

div#footer a {
    color: orange;
}

#footer p {
    color: #ababab;
}

#footer .about-us{
  padding-top: 60px;
}

footer {
    background: #111;
}

div#footer p {
    line-height: 22px;
    font-size: 14px;
}

.container.footer-tab {
    padding: 80px 0;
}

body, html, header {
  width: 100%;
  height: 100%; }

.top {
  width: 100%;
  height: 100%;
  background-size: cover; }
  .top .topHeader {
    width: 100%;
    height: 135px;
    background: #111;
     }
    .top .topHeader .topHeader-contact {
      width: 100%;
      height: 50px;
      background: #111;
      color: #f1f1f1;
      line-height: 50px; }
      .top .topHeader .topHeader-contact .topHeader-contact-info ul {
        list-style: none; }
        .top .topHeader .topHeader-contact .topHeader-contact-info ul li {
          display: inline-block;
          margin-right: 20px;
          font-size: 12px;
          letter-spacing: 1px; }
          .top .topHeader .topHeader-contact .topHeader-contact-info ul li i {
            margin-right: 10px;
            color: orange;
            font-size: 16px; }
          .top .topHeader .topHeader-contact .topHeader-contact-info ul li strong {
            margin-left: 5px;
            color: orange; }
      .top .topHeader .topHeader-contact .mxh i {
        margin-right: 15px; }
    .top .topHeader .topHeader-menu {
      height: 84px;
      line-height: 84px;
      border-top: 1px solid #c0bbbb52;
      transition: 0.4s; }
      .top .topHeader .topHeader-menu.fixed {
        position: fixed;
        top: 0;
        height: 50px;
        width: 100%;
        line-height: 50px;
        background: #111;
        color: orange;
        z-index: 9999;
        border-bottom: 1px solid #c0bbbb52; }
      .top .topHeader .topHeader-menu .logo {
        color: #f9f9f9;
        font-size: 34px;
        letter-spacing: 11px; }
      .top .topHeader .topHeader-menu .menu a {
        display: inline-block;
        padding: 0px 20px;
        text-decoration: none;
        color: #f1f1f1;
        font-size: 16px; }
        .top .topHeader .topHeader-menu .menu a:hover {
          color: orange; }
      .top .topHeader .topHeader-menu .nutMenu {
        display: none; }

#technique {
  background: #111;
  width: 100%;
  height: 100%;
  color: #f1f1f1;
  padding-bottom: 100px;
  padding-top: 100px; }
  #technique .cap {
    width: 100%;
    height: 20%; }
    #technique .cap h1 {
      text-align: center; }
    #technique .cap .gachduoi {
      width: 8px;
      height: 8px;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      border-radius: 100%;
      background: orange;
      position: relative; }
      #technique .cap .gachduoi:after {
        content: "";
        position: absolute;
        width: 300px;
        top: 3px;
        right: 20px;
        height: 1px;
        border-bottom: 1px solid #c0bbbb52; }
      #technique .cap .gachduoi:before {
        content: "";
        position: absolute;
        width: 300px;
        top: 3px;
        height: 1px;
        left: 20px;
        border-bottom: 1px solid #c0bbbb52; }
  #technique .technique-item {
    overflow: hidden;
    padding: 0 15px; }
    #technique .technique-item h2 {
      font-size: 28px;
      margin-bottom: 20px; }
    #technique .technique-item p {
      font-size: 12px;
      margin-bottom: 30px; }
    #technique .technique-item .img {
      width: 100%;
      height: 220px;
      background-size: cover; }

.section-b {
  background: #606060;
  padding: 100px 0;
  height: 100%; }
  .section-b #wrap-service h1.cap {
    text-align: center;
    color: #f1f1f1; }
  .section-b #wrap-service .gachduoi {
    width: 8px;
    height: 8px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 100%;
    background: orange;
    position: relative; }
  .section-b #wrap-service .service ul {
    list-style: none; }
    .section-b #wrap-service .service ul li.item-service .box-service {
      text-align: center;
      width: 180px;
      height: 180px;
      border-radius: 100%;
      background: orange;
      line-height: 180px;
      position: relative;
      padding: auto;
      margin: auto;
      transition: 0.7s; }
      .section-b #wrap-service .service ul li.item-service .box-service:hover {
        background: #111;
        color: #ddd; }
      .section-b #wrap-service .service ul li.item-service .box-service span {
        font-size: 14px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase; }
      .section-b #wrap-service .service ul li.item-service .box-service .box-border {
        height: 49px;
        width: 0;
        border: 1px solid #ababab;
        position: absolute;
        left: 50%;
        opacity: 0;
        transition: 0.7s; }
  .section-b #wrap-service .tab-service {
    margin-top: 50px;
    border-top: 1px solid #ababab;
    padding: 50px 0;
    position: relative; }
    .section-b #wrap-service .tab-service .tab-box {
      position: absolute;
      opacity: 0; }
      .section-b #wrap-service .tab-service .tab-box p {
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 23px;
        color: #ddd; }
      .section-b #wrap-service .tab-service .tab-box.active1 {
        opacity: 1; }

#wrap-product {
  background: #111;
  padding: 100px 0 40px 0; }
  #wrap-product .product .btn-product {
    width: 1000px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px; }
    #wrap-product .product .btn-product a.btn-item {
      text-decoration: none;
      text-transform: uppercase;
      color: #f1f1f1;
      background: none;
      margin: 0px 20px; 
    }
    #wrap-product .product .btn-product a.btn-item:hover{
      background: #000;
    }

    #wrap-product .product .btn-product a.btn-item.active2{
      background: orange;
      color: #000;
    }

  #wrap-product .product .tab-product {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    #wrap-product .product .tab-product .item-product {
      width: 25%;
      height: auto;
      position: relative;
      overflow: hidden; }
      #wrap-product .product .tab-product .item-product a img {
        width: 100%;
        height: 100%;
        transition: 0.4s; }
      #wrap-product .product .tab-product .item-product a p {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: scale(0);
                transform: scale(0);
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: #f1f1f1;
        text-transform: uppercase;
        z-index: 1000;
        text-align: center;
        opacity: 0;
        transition: 1s; }
      #wrap-product .product .tab-product .item-product a span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        background: #1d161694;
        opacity: 0;
        transition: 0.4s; }

#view-all {
  width: 100%;
  height: 100px;
  background: orange;
  text-align: center;
  line-height: 100px; }
  #view-all .btn-view {
    padding: 10px 30px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #1b1a1a;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none; }
    #view-all .btn-view:after {
      content: "\f054";
      font-family: FontAwesome;
      margin-left: 10px; }

.top .topHeader .topHeader-menu.fixed .menu a:hover {
  color: lightblue; }

.section-b #wrap-service .service ul li.item-service.active .box-service {
  background: none;
  border: 2px solid #f1f1f1;
  color: #ddd; }

.section-b #wrap-service .service ul li.item-service.active .box-service span {
  color: #ddd; }

.section-b #wrap-service .service ul li.item-service .box-service:hover span {
  color: #ddd; }

.section-b #wrap-service .service ul li.item-service.active .box-service .box-border {
  opacity: 1; }

#wrap-product .product .tab-product .item-product:hover img {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2); }

#wrap-product .product .tab-product .item-product:hover p {
  opacity: 1; }

#wrap-product .product .tab-product .item-product:hover span.nenden {
  opacity: 1; }

@media (max-width: 798px) {
  * {
    margin: 0; }
  body {
    background: #111; }
  .col-md-9.text-xs-right {
    padding: 0; }
  .top .topHeader {
    height: 86px;
    width: 100%; }
    .top .topHeader .topHeader-contact {
      display: none; }
    .top .topHeader .topHeader-menu {
      height: 86px; }
      .top .topHeader .topHeader-menu.fixed {
        height: 84px;
        line-height: 84px; }
      .top .topHeader .topHeader-menu .menu {
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        position: relative;
        z-index: 999;
        display: none; }
        .top .topHeader .topHeader-menu .menu a {
          display: block;
          text-align: center;
          width: 100%;
          background: #111; }
          .top .topHeader .topHeader-menu .menu a:hover {
            color: lightblue;
            background: #333; }
      .top .topHeader .topHeader-menu .menu.menuActive {
        opacity: 1;
        visibility: visible;
        display: block; }
      .top .topHeader .topHeader-menu .nutMenu {
        display: block;
        position: absolute;
        top: -82px;
        right: 34px;
        color: #fff;
        font-size: 53px; }
  #technique {
    overflow-x: hidden;
    padding-bottom: 50px; }
  .technique-item .img {
    margin-bottom: 30px; }
  section.section-b {
    height: auto;
    background: none;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 300px;
    overflow: hidden;
    }
    section.section-b .item-service {
      margin-bottom: 20px; }
    section.section-b .tab-service {
      margin: 0; }
  .section-b #wrap-service .service ul li.item-service.active .box-service .box-border {
    opacity: 0 !important; }
  #wrap-product {
    padding: 0;
    margin-bottom: 20px; }
  #wrap-product .product .btn-product {
    width: auto; }
  #wrap-product .product .tab-product .item-product {
    width: 100%; }
  .top .topHeader .topHeader-menu.fixed .nutMenu {
    top: -83px;
    right: 30px;
    font-size: 50px; } 
    
    .top .topHeader .topHeader-menu.fixed{
      display: none;
    }
.container.footer-tab{
  padding-right: 20px;
  padding-left: 20px;
}

    .footer-item{
      margin-bottom: 30px;
    }
  }
